{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    My Cart
</h2>

{% for item in cart_items %}

<div class="card mb-3 p-3">

    <div class="row align-items-center">

        <div class="col-md-2">

            <img src="{{ item.product.image.url }}"
                 width="100">

        </div>

        <div class="col-md-3">

            <h5>{{ item.product.title }}</h5>

        </div>

        <div class="col-md-2">

            ₹ {{ item.product.price }}

        </div>

        <div class="col-md-2">

            Qty: {{ item.quantity }}

        </div>

        <div class="col-md-3">

            <a href="{% url 'remove_cart' item.id %}"
               class="btn btn-danger">

                Remove

            </a>

        </div>

    </div>

</div>

{% endfor %}

<h3 class="mt-4">
    Total: ₹ {{ total }}
</h3>
<a href="{% url 'checkout' %}"
   class="btn btn-success mt-3">

    Checkout

</a>

{% endblock %}