{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">
    Register
</h2>

<form method="POST">

    {% csrf_token %}

    <input type="text"
           name="username"
           class="form-control mb-3"
           placeholder="Username">

    <input type="email"
           name="email"
           class="form-control mb-3"
           placeholder="Email">

    <input type="password"
           name="password"
           class="form-control mb-3"
           placeholder="Password">

    <button class="btn btn-dark">
        Register
    </button>

</form>

{% endblock %}